{% extends 'base.html.twig' %}

{% block content %}
	<main role="main">
		<section class="jumbotron text-center mt-5">
			<div class="container">
				<h1 class="jumbotron-heading">Minify your url!</h1>
				{% if app.user %}
					<main class="form-minify w-25 m-auto mt-5 text-center">
						{{ form_start(minifyUrlForm, {'attr': {'autocomplete': 'off'}}) }}
							<div class="form-floating m-1">
								{{ form_widget(minifyUrlForm.destination, {'attr': {'class': 'form-control', 'placeholder': 'Destination', 'maxlength': '1024'}}) }}
								{{ form_label(minifyUrlForm.destination, 'Destination') }}
								<div class="form-error">
									{{ form_errors(minifyUrlForm.destination) }}
								</div>
							</div>

							<div class="form-floating m-1">
								{{ form_widget(minifyUrlForm.ttl, {'attr': {'class': 'form-control', 'placeholder': 'Time to live', 'min': '0', 'max': '2592000'}}) }}
								{{ form_label(minifyUrlForm.ttl, 'Time to live (in seconds)') }}
								<div class="form-error">
									{{ form_errors(minifyUrlForm.ttl) }}
								</div>
							</div>

							{{ form_rest(minifyUrlForm) }}

							<button class="w-100 btn btn-lg btn-primary" type="submit">Minify</button>
						{{ form_end(minifyUrlForm) }}
					</main>
				{% else %}
					<p class="lead text-muted">To use this service sign in first</p>
					<p>
						<a href="{{ path('app_register') }}" class="btn btn-primary my-2">Register</a>
						<a href="{{ path('app_login') }}" class="btn btn-primary my-2">Login</a>
					</p>
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
