{% extends 'base.html.twig' %}

{% block title %}Create Link{% endblock %}

{% block body %}
	<main class="form-minify w-25 m-auto mt-5 text-center">
		{{ form_start(minifyUrlForm, {'attr': {'autocomplete': 'off'}}) }}
			<h1 class="h3 mb-3 fw-normal">Minify Url</h1>

			<div class="form-floating m-1">
				{{ form_widget(minifyUrlForm.destination, {'attr': {'class': 'form-control', 'placeholder': 'Destination', 'maxlength': '1024'}}) }}
				{{ form_label(minifyUrlForm.destination, 'Destination') }}
				<div class="form-error">
					{{ form_errors(minifyUrlForm.destination) }}
				</div>
			</div>

			<div class="form-floating m-1">
				{{ form_widget(minifyUrlForm.ttl, {'attr': {'class': 'form-control', 'placeholder': 'Time to live', 'min': '0', 'max': '2592000'}}) }}
				{{ form_label(minifyUrlForm.ttl, 'Time to live (in seconds)') }}
				<div class="form-error">
					{{ form_errors(minifyUrlForm.ttl) }}
				</div>
			</div>

			{{ form_rest(minifyUrlForm) }}

			<button class="w-100 btn btn-lg btn-primary" type="submit">Minify</button>
		{{ form_end(minifyUrlForm) }}
	</main>
{% endblock %}
