{% extends 'base.html.twig' %}

{% block title %}My Links{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<main class="links-list w-75 m-auto mt-5 text-center">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Link</th>
					<th scope="col">Destination</th>
					<th scope="col">Valid until</th>
					<th scope="col">Follows count</th>
					<th scope="col">Statistics</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for link in links %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						<td>{{ domain ~ link.code }}</td>
						<td>{{ link.destination }}</td>
						<td>{{ link.ttl|date("H:i d.m.Y") }}</td>
						<td>{{ link.followsCount }}</td>
						<td>
							<a class="btn btn-success" href="{{ path('link_read', {code: link.code}) }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" role="button">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
									<path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
								</svg>
							</a>
						</td>
						<td>
							<form action="{{ path('link_delete', {code: link.code}) }}" method="post">
								<button type="submit" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
										<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
										<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
									</svg>
								</button>
							</form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no links found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
