{% extends 'base.html.twig' %}

{% block title %}Link Statistics{% endblock %}

{% block body %}
	<main class="w-25 m-4 float-left">
		<ul class="list-group list-group">
			<li class="list-group-item d-flex justify-content-between align-items-start">
				<div class="ms-2 me-auto">
					<div class="fw-bold">Link: </div>
					{{ domain ~ link.code }}
				</div>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-start">
				<div class="ms-2 me-auto">
					<div class="fw-bold">Destination: </div>
					{{ link.destination }}
				</div>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-start">
				<div class="ms-2 me-auto">
					<div class="fw-bold">Valid until: </div>
					{{ link.ttl|date("H:i d.m.Y") }}
				</div>
			</li>
		</ul>
	</main>

	<section class="w-50 m-4 float-left">
		<button type="button" class="btn btn-info btn-lg" disabled>
			Follows count <span class="badge text-bg-success">{{ link.followsCount }}</span>
		</button>
	</section>

	<section class="w-50 m-4 float-left">
		<button type="button" class="btn btn-info btn-lg" disabled>
			Follows for last 24h <span class="badge text-bg-success">{{ link.followsCount }}</span>
		</button>
	</section>

	<section class="w-50 m-4 float-left">
		<h1 class="h3 mb-3 fw-normal">Some bars</h1>
		<div class="progress m-2">
			<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<div class="progress m-2">
			<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<div class="progress m-2">
			<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<div class="progress m-2">
			<div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</section>
{% endblock %}
