<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Mini!{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>
		{% block stylesheets %}
			<link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		{% endblock %}

		{% block javascripts %}
			{# <script src="{{ asset('bundles/acme/js/loader.js') }}"></script> #}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		<header>
			<div class="navbar navbar-dark bg-dark shadow-sm">
				<div class="container d-flex justify-content-between">
					<a href="{{ path('index') }}" class="navbar-brand d-flex align-items-center">
						<strong>Mini</strong>
					</a>

					<ul class="nav justify-content-end">
						{% if app.user %}
							<li class="nav-item ms-1">
								<a class="btn btn-primary" href="{{ path('link_add') }}" role="button">Create link</a>
							</li>
							<li class="nav-item ms-1">
								<a class="btn btn-primary" href="{{ path('link_browse') }}" role="button">My Links</a>
							</li>
							<li class="nav-item ms-1">
								<a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_register') }}">Register</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">Login</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</header>

		{% block body %}
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		{% endblock %}

		<footer class="bg-dark text-center fixed-bottom text-white">
			<div class="container p-2">
				<p>
					This is the test task.
					<br/>
					© 2022 Copyright: mini.com
				</p>
			</div>
		</footer>
	</body>
</html>
