{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
	<main class="form-signin w-25 m-auto mt-5 text-center">
		<form method="post" autocomplete="off">
			{% if error %}
				<div class="alert alert-danger">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}

			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

			<div class="form-floating m-1">
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" maxlength="64" minlength="3" placeholder="Username" required>
				<label for="inputUsername">Username</label>
			</div>
			<div class="form-floating m-1">
				<input type="password" name="password" id="inputPassword" class="form-control" maxlength="64" minlength="6" placeholder="Password" required>
				<label for="inputPassword">Password</label>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{# <div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me"> Remember me
				</label>
			</div> #}

			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
		</form>
	</main>
{% endblock %}
