{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<main class="form-register w-25 m-auto mt-5 text-center">
		{{ form_start(registrationForm, {'attr': {'autocomplete': 'off'}}) }}
			<h1 class="h3 mb-3 fw-normal">Please register</h1>

			<div class="form-floating m-1">
				{{ form_widget(registrationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Username', 'maxlength': '64', 'minlendth': '3'}}) }}
				{{ form_label(registrationForm.username, 'Username') }}
				<div class="form-error">
					{{ form_errors(registrationForm.username) }}
				</div>
			</div>

			<div class="form-floating m-1">
				{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password', 'maxlength': '64', 'minlendth': '6'}}) }}
				{{ form_label(registrationForm.plainPassword, 'Password') }}
				<div class="form-error">
					{{ form_errors(registrationForm.plainPassword) }}
				</div>
			</div>

			{{ form_rest(registrationForm) }}

			<button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
		{{ form_end(registrationForm) }}
	</main>
{% endblock %}
